<html>
  <body>
    <h2>Welcome, <%= name %>!</h2>
    <p>Thanks for signing up. Here are your account details:</p>
    <ul>
      <li>Name: <%= name %></li>
      <li>Email: <%= email %></li>
      <li>Role: <%= role %></li>
      <li>Password: <%= password %></li>
    </ul>
    <p>Please keep this information safe.</p>
  </body>
</html>
